/* Set page background to pure black */
body {
    background-color: #000;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Leaves Background */
.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    /* Add the autumn background image */
    background: #1E1E20 url('http://premiumcoding.com/CSSTricks/fallingLeaves/autumn.jpg') center/cover no-repeat;
}

.loader {
    width: 100%;
    height: 100%;
    position: relative;
}

.loader span {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: -280px 40px 54px -34px;
    background: url("http://premiumcoding.com/CSSTricks/fallingLeaves/leaf.png") center/contain no-repeat;
    opacity: 0.7;
    animation: fall 10s infinite linear;
}

/* Animation delays */
.loader span:nth-child(5n+5) { animation-delay: 1.3s; }
.loader span:nth-child(3n+2) { animation-delay: 1.5s; }
.loader span:nth-child(2n+5) { animation-delay: 1.7s; }
.loader span:nth-child(3n+10) { animation-delay: 2.7s; }
.loader span:nth-child(7n+2) { animation-delay: 3.5s; }
.loader span:nth-child(4n+5) { animation-delay: 5.5s; }
.loader span:nth-child(3n+7) { animation-delay: 8s; }

/* Falling animation */
@keyframes fall {
    0% {
        opacity: 0.8;
        transform: translate(0, 0) rotate(0deg);
    }
    75% {
        opacity: 0.6;
        transform: translate(100px, 600px) rotate(270deg);
    }
    100% {
        opacity: 0;
        transform: translate(150px, 800px) rotate(360deg);
    }
}

/* Content on top */
.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}