/* Set page background to pure black */
body {
    background-color: #000;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Leaves Background */
.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    /* Add the autumn background image */
    
}

.loader {
    width: 100%;
    height: 100%;
    position: relative;
}

.loader span {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: -280px 40px 54px -34px;
    background: url("http://premiumcoding.com/CSSTricks/fallingLeaves/leaf.png") center/contain no-repeat;
    opacity: 0.7;
    animation: fall 10s infinite linear;
}

/* Animation delays */
.loader span:nth-child(5n+5) { animation-delay: 1.3s; }
.loader span:nth-child(3n+2) { animation-delay: 1.5s; }
.loader span:nth-child(2n+5) { animation-delay: 1.7s; }
.loader span:nth-child(3n+10) { animation-delay: 2.7s; }
.loader span:nth-child(7n+2) { animation-delay: 3.5s; }
.loader span:nth-child(4n+5) { animation-delay: 5.5s; }
.loader span:nth-child(3n+7) { animation-delay: 8s; }

/* Falling animation */
@keyframes fall {
    0% {
        opacity: 0.8;
        transform: translate(0, 0) rotate(0deg);
    }
    75% {
        opacity: 0.6;
        transform: translate(100px, 600px) rotate(270deg);
    }
    100% {
        opacity: 0;
        transform: translate(150px, 800px) rotate(360deg);
    }
}

/* Content1 */
.content1 {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
    /* Content2*/
    .content2 {
        position: relative;
        z-index: 1;
        color: white;
        text-align: left;
        padding: 20px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

}
/* Water Bubbles */
.bubbles-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.bubble {
    position: absolute;
    bottom: -100px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    animation: rise 15s infinite ease-in;
}

.bubble:before {
    content: '';
    position: absolute;
    width: 30%;
    height: 30%;
    background: rgba(40, 40, 234, 0.2);
    border-radius: 50%;
    top: 20%;
    left: 20%;
}

/* Different bubble sizes */
.bubble:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 10%;
    animation-delay: 0s;
    animation-duration: 12s;
}

.bubble:nth-child(2) {
    width: 20px;
    height: 20px;
    left: 20%;
    animation-delay: 1s;
    animation-duration: 10s;
}

.bubble:nth-child(3) {
    width: 50px;
    height: 50px;
    left: 35%;
    animation-delay: 3s;
    animation-duration: 15s;
}

.bubble:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 50%;
    animation-delay: 5s;
    animation-duration: 18s;
}

.bubble:nth-child(5) {
    width: 30px;
    height: 30px;
    left: 65%;
    animation-delay: 2s;
    animation-duration: 11s;
}

.bubble:nth-child(6) {
    width: 60px;
    height: 60px;
    left: 80%;
    animation-delay: 4s;
    animation-duration: 14s;
}

.bubble:nth-child(7) {
    width: 25px;
    height: 25px;
    left: 90%;
    animation-delay: 6s;
    animation-duration: 9s;
}

.bubble:nth-child(8) {
    width: 45px;
    height: 45px;
    left: 70%;
    animation-delay: 7s;
    animation-duration: 13s;
}

.bubble:nth-child(9) {
    width: 35px;
    height: 35px;
    left: 30%;
    animation-delay: 8s;
    animation-duration: 16s;
}

.bubble:nth-child(10) {
    width: 70px;
    height: 70px;
    left: 5%;
    animation-delay: 9s;
    animation-duration: 21s;
}
